{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="container bg-secondary">
<h3 class="text-center text-dark ">Shopping cart</h3>
 <div class="container mt-5 px-3 " style="margin-bottom:100px">
     <div class="row ">

         <div class="col-8">
           <table class="table table-bordered text-center">

          <tr><th colspan="8">Cart items</th></tr>
           {% for i in cart %}
         <tr>
            <td class="p-3"><img src="{{i.product.image.url}}" height="100px" width="100%"></td>
            <td class="p-3">product:{{i.product.name}}</td>
            <td class="p-3">Quantity:{{i.quantity}}<br>
             unit price:{{i.product.price}}</td>
            <td class="p-3">subtotal:{{i.subtotal}}</td>
            <td>
                {% if i.product.stock > 0 %}
                <a href="{% url 'cart:addtocart' i.product.id %}"><i class="fa fa-plus-circle text-light fs-5" aria-hidden="true"></i></a>
                <a href="{% url 'cart:remove' i.product.id %}"><i class="fa fa-minus-circle text-light fs-5" aria-hidden="true"></i></a>
                <a href="{% url 'cart:delete' i.product.id %}"><i class="fa fa-trash text-light fs-4 " aria-hidden="true"></i></a>
                {% else %}
                <a href="{% url 'cart:remove' i.product.id %}"><i class="fa fa-minus-circle text-light fs-5" aria-hidden="true"></i></a>
                <a href="{% url 'cart:delete' i.product.id %}"><i class="fa fa-trash text-light fs-5 " aria-hidden="true"></i></a>
                {% endif %}
            </td>

         </tr>
         {% endfor %}
         </table>
   </div>




<div class="cols-6">
         <table class="table table-bordered p-3">
             <tr><th colspan="5">Check out</th></tr>
             <tr><td>Total:{{total}}</td></tr>
         </table>
        <div class="d-flex justify-between">
           <a href="{% url 'cart:orderform' %}" class="btn btn-light p-1 mt-2">PlaceOrder</a>

         <a href="" class="btn btn-light  p-1 mt-2">Continue shopping </a>
        </div>

       </div>
         </div>
 </div>
</div>
{% endblock %}
