{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card text-black">
  <img src="{% static 'images/img11.jpg' %}"  height="600px" width="100%" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title mx-auto">ONLINE JEWELLERY</h1>
      <div class="detail-box ">
                                 <h1 >
                                    <span>
                                    Sale 25% Off
                                    </span>
                                    <br>
                                    On Everything
                                     <br>
                                    <button>ShopNow</button>
                                 </h1>


  </div>
</div>
<div class="container mt-4 p-3"  style="margin-bottom:100px;">
    <h2 class="text-center"><b>OUR COLLECTIONS</b></h2><br>
    <p style="text-align:justify;line-height:2;font-size:20px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
<div class="container mt- p-5 " style="margin-bottom:100px">
<div class="row">
{% for i in cat %}
<div class="col-sm-4">
<div class="card mx-auto border border-3 border-primary" style="width: 18rem;">
  <img src="{{i.image.url}}"  height="200px" width="100%">
  <div class="card-body">
    <center>
        <h1 class="card bg-light">{{i.name}}</h1>
    <h6 class="card-title">{{i.desc}}</h6>
       <a href="{% url 'shop:products' i.id %}" class="btn btn-primary">Product</a>
    </center>
  </div>
  </div>
  </div>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}
