<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="card mb-3 mt-7 mx-auto p-4" style="max-width: 640px;">
  <div class="row g-0">
    <div class="col-md-4 p-3">
      <img src="{{products.image.url}}" class="rounded-start" alt="..." height="300px" width="100%">
    </div>
    <div class="col-md-8 lh-lg ps-5">
      <div class="card-body mt-3">
        <h5 class="card-title">{{products.name}}</h5>
        <p class="card-title">{{products.desc}}</p>
        <p class="card-text">{{products.price}}</p>
        <p class="card-text">{{products.stock}}</p>
        <h4> product details</h4>
        <p class="cart-text" style="Line-height:2;text-align:justify">{{products.desc}}</p>
         {% if user.is_superuser == True %}
          {% if products.stock > 0 %}
        <h5>Product in stock</h5>
        <a href="{% url 'shop:addstock' products.id %}" class="btn btn-secondary fw-bold mt-3 mb-2 text-center"> ADD STOCK</a>
         {% else %}
        <h5>Product out of stock </h5>
        <a href="{% url 'shop:addstock' products.id %}" class="btn btn-secondary fw-bold mt-3 mb-2 text-center"> ADD STOCK</a>
        {% endif %}


        {% else %}
        {% if products.stock > 0 %}
        <a href="{% url 'cart:addtocart' products.id %}" class="btn btn-success">Add to cart</a>
        {% else %}
        <h5>Out of stock </h5>
        {% endif %}

        {% endif %}

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}