<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="container px-2 bg-secondary">
<h2 class="text-center mt-3">login </h2>
<form method="POST" >
    {% csrf_token %}
    <div class="mb-3">
  <label class="form-label">username</label>
   <input type="text" class="form-control"  name="u" placeholder="username">
</div>
<div class="mb-3">
  <label  class="form-label">password</label>
  <input type="password" class="form-control" name="p"  placeholder="password">
</div>
<div class="mb-3">
    <input type="submit" value="submit" >
</div>
</form>
</div>

{% endblock %}